body {
    background-color: gray;
}
h1 {
    color: #C0C0C0;
    font-size: 25px;
    font-weight: 500;
}
.myClass td:first-child {
    width: 20%;
    font-style: italic;
    color: whitesmoke;
}
#Active {
    font-style: normal; 
    color: #C80000;
    
}
#Link {
    font-style: normal;
    color: #FFFFCC;
}
#park {
    color: #FFFFCC;
}
#email {
    color: #FFFFCC;
}
#ansew {
    color: #FF6600;
}
.never {
    color: #989898;
}