<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Music Catagories</title>
    <link href="style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <section>
        <div id="maindiv">
            <div>
                <div class"insadeDiv">
                    <img src="guitar.jpeg" />
                </div>
                <p>Even more websites all about website templates on <span>Just Web Templates</span></p>
                <button type="submit" value="Listen">Listen</button>
                <button type="submit" value="Add">Add</button>
            </div>

            <div>
                <div class"insadeDiv">
                    <img src="guitar.jpeg" />
                </div>
                <p>Even more websites all about website templates on <span>Just Web Templates</span></p>
                <button type="submit" value="Listen">Listen</button>
                <button type="submit" value="Add">Add</button>
            </div>

            <div>
                <div class"insadeDiv">
                    <img src="guitar.jpeg" />
                </div>
                <p>Even more websites all about website templates on <span>Just Web Templates</span></p>
                <button type="submit" value="Listen">Listen</button>
                <button type="submit" value="Add">Add</button>
            </div>
        </div>
    </section>
</body>
</html>
