<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Members login</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <section>
        <div class="mainDiv">
            <header>
                <div id="firstDiv">
                    <img src="monitor.png" />
                    <label for="name">memeber login:</label>
                    <input type="text" value="Your name" id="name" />
                    <input type="text" value="Email ID" id="email" />
                    <button type="submit" value="go"><img id="button" src="Red_button.png"/></button>
                </div>
            </header>
            <div class="artdiv">
                <article>
                    <h1>about total management?</h1>
                        <p>
                        Total Managment is a free, tabless, W3C-compliant web design layout by Template
                        Word. This template has been tested and proven compatible with all major browser
                        enviroment and operating system. You are free to modify the design to suit your
                        tastes in any way you like.
                        We only ask you to not remove <span>"Design by Template Word"</span> and the link
                        <a src="http://www.templateworld.com">http://www.templateworld.com</a> from the footer of the template.
                        If you are interested in seeing more of our free web template disigns feel free to
                        visit our website, Temaplte World. We intend to add at least 25 new free templates 
                        in the coming month.
                        </p>
                </article>
            </div>
       </div>
    </section>

</body>
</html>
