*{
    margin: 0;
    padding: 0;
}

.person-item {
    margin-left: 50px;
    width: 82px;
    border: 1px solid red;
    display: none;
    text-align: center;
}

.person-item.selected {
    display: block;
}

.person-item.visible {
    display: block;
}